@media screen and (min-width: 960px) {
    .main-logo-svg-container svg {
        width: 42px;
        height: 24px;
        margin-left: 1px;
    }

    .logo-text-container svg {
        width: 155px;
        height: 18px;
        margin-left: 4px;
        margin-top: 1px;
    }

    .delivery-main-text-container {
        max-width: 750px;
        margin-top: 81px;
    }

    .delivery-inputs-wrapper {
        width: 408px;
        margin-left: -1px;
    }

    #delivery-signin-text {
        display: none;
    }

    #delivery-signin-long-text {
        display: flex;
        margin-left: 0px;
    }

    .delivery-buttons-container .delivery-login {
        width: 203.5px;
    }

    .delivery-buttons-container .delivery-login .delivery-login-svg-wrapper {
        margin-left: 0px;
    }

    .description {
        flex-direction: row-reverse;
    }

    .app-icons-container {
        align-items: flex-end;
        width: 50%;
    }

    .about-container {
        width: 50%;
        flex-direction: row;
    }

    /* footer {
        display: flex;
        justify-content: center;
    } */

}

@media screen and (min-width: 1184px) {

    #overlay-section {
        display: none;
    }

    #convenience {
        display: none;
    }

    #organization {
        max-width: 1184px;
        height: 636px;
        width: 1104px;
    }

    .organization-container {
        width: 1104px;
        margin: 96px 0;
        padding: 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .roles-container {
        padding: 16px;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 360px;
        text-align: center;
    }

    .role-image-container {
        display: flex;
        justify-content: center;
        margin-right: 64px;
    }

    .role-image-container img {
        width: 154px;
        height: 154px;
    }

    .role-text-container h3 {
        text-align: center;
        margin-top: 6px;
    }

    .role-text-container h2 {
        text-align: center;
    }

    .role-text-container {
        width: 250px;
        max-width: 250px;
        min-height: 160px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-self: flex-start;
        align-items: center;
        margin-left: -0.5px;
    }

    .role-text-container button span {
        font-size: 18px;
        line-height: 24px;
    }

    #opportunity {
        max-width: 100%;
    }

    #franchise {
        margin: 0 auto;
    }

    #offers {
        display: block;
        width: 100%;
    }

    .primary-offers-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        min-width: 90%;
    }

    .primary-offers-container {
        max-width: 1184px;
        width: 1155px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 60px;
        margin-bottom: -60px;
        z-index: 4;
    }

    .primary-offer-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .primary-offer-text h2 {
        font-size: 40px;
        line-height: 40px;
        max-width: 90%;
        margin-top: 20px;
    }

    .primary-offer-text .fav-res {
        font-size: 20px;
        line-height: 24px;
        margin-top: 20px;
        font-family: "TTNorms-Medium";
    }

    .primary-offer-text .primary-desc {
        font-size: 16px;
        line-height: 22px;
        margin-top: 10px;
    }

    .primary-offer-text button {
        max-width: 100%;
        width: 146px;
        min-height: 40px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .primary-offer-image {
        height: 500px;
    }

    .primary-offer-image img {
        height: 100%;
    }

    .secondary-offers-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: 90%;
        background-color: var(--overlay-color);
        padding: 81px 20px 20px 20px;
        font-family: 'Sample';
        margin-top: 2px;
    }

    .secondary-offers-container {
        max-width: 1184px;
        width: 1184px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    .secondary-offer-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5px;
        max-width: 400px;
    }

    .secondary-offer-text h2 {
        font-size: 40px;
        line-height: 40px;
        max-width: 90%;
        margin-top: 20px;
    }

    .secondary-offer-text span {
        font-size: 16px;
        line-height: 22px;
        margin-top: 20px;
    }

    .secondary-offer-text button {
        max-width: 100%;
        min-height: 40px;
        width: 127px;
        margin-top: 30px;
    }

    .secondary-offer-image {
        /* height: 504px; */
        /* min-width: 100%; */
        max-width: 724px;
    }

    .secondary-offer-image img {
        height: 500px;
        max-width: 100%;
        object-fit: cover;
    }

    #grocery {
        top: 1px;
    }

    #scroll-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #advantage {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .advantage-wrapper {
        min-width: 90%;
        padding: 60px 20px 20px 20px;
        margin-bottom: -40px;
        display: flex;
        justify-content: center
    }

    .advantage-item {
        display: flex;
        max-width: 1184px;
        gap: 60px;
        align-content: space-between;
        justify-content: center;

    }

    .advantage-text-wrapper {
        max-width: 400px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .advantage-text {
        display: flex;
        flex-direction: column;
    }

    .advantage-text h2 {
        max-width: 90%;
        margin-top: 20px;
        font-size: 40px;
        line-height: 40px;
    }

    .advantage-text span {
        font-family: "TTNorms-Regular";
        font-size: 16px;
        line-height: 22px;
        margin-top: 20px;
    }

    .advantage-text button {
        margin-top: 30px;
        max-width: 100%;
        width: 100px;
        min-height: 40px;
    }

    .advantage-image {
        width: 100%;
    }

    .advantage-image img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .carousel {
        width: 100%;
        max-width: 1184px;
        justify-content: center;
        align-content: center;
        margin-right: 0;
    }

    .carousel-image {
        max-width: 552px;
        height: 552px;
    }

    .carousel-image img {
        width: 100%;
        height: 100%;
    }

    .carousel-text h2 {
        margin-top: 20px;
    }

    #convenience {
        display: none;
    }

    #overlay-section {
        display: none;
    }


    #business-button {
        padding: 0;
        min-height: 40px;
        width: 156.25px;
    }

    .opportunity-wrapper {
        display: none;
    }

    #business-span-text {
        font-size: 16px;
        line-height: 22px;
        margin-top: 20px;
    }

    #dasher-button {
        width: 152.812px;
    }


    footer {
        display: flex;
        justify-content: center;
    }

    .footer-wrapper {
        width: 1184px;
    }

    .copyright-text-items {
        margin-left: 16px;
    }
}