@media screen and (min-width: 768px) {

    #app-ad {
        display: none;
    }

    #ad {
        display: none;
    }

    header {
        width: 100%;
        height: 650px;
    }

    .delivery-main-logo-container {
        transform: translateY(-153px);
    }

    .mobile-buttons {
        display: none;
    }

    .tablet-buttons {
        display: block;
    }

    .tablet-nav-sign-in {
        width: 82px;
        height: 40px;
        font-family: 'TTNorms-Bold';
        font-size: 18px;
        margin-right: 8px;
    }

    .tablet-nav-sign-up {
        width: 90px;
        height: 40px;
        font-family: 'TTNorms-Bold';
        font-size: 18px;
        background-color: white;
        color: var(--secondary-text-color);
        margin-right: -2px;
    }

    .delivery-main-text-container h1 {
        font-size: 22px
    }
}

@media screen and (min-width: 769px) {

    .delivery-main-text-container {
        max-width: 750px;
        margin-top: 85px;
    }

    .delivery-main-text-container h1 {
        font-size: 38px;
        max-width: 750px;
        line-height: 40px;
        font-weight: bolder;
        letter-spacing: -0.5px;
    }

    .delivery-inputs-wrapper {
        width: 408px;
        padding-top: 28px;
        padding-right: 8px;
        padding-bottom: 28px;
        margin-top: 18px;
    }


    .search-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -3px;
        margin-left: 4px;
    }

    .input-location-icon {
        display: block;
        margin-top: 3px;
    }

    .input-search-icon {
        display: none;
    }

    .delivery-inputs-wrapper .arrow-icon-wrapper button {
        background-color: var(--primary-button-color);
    }

    .delivery-inputs-wrapper .arrow-icon-wrapper button svg path {
        fill: white;
    }

    .delivery-inputs-wrapper .input-wrapper input::placeholder {
        font-size: 15.2px;
        color: #606060;
    }

    #delivery-signin-text {
        display: flex;
    }

    #delivery-login-text {
        display: none;
    }

    .delivery-buttons-container .current-location {
        display: none;
    }

    .delivery-buttons-container .delivery-login {
        width: 88.9px;
        margin-left: 19px;
    }

    .delivery-buttons-container .delivery-login .delivery-login-svg-wrapper {
        margin-left: 2px;
    }

    #organization {
        width: 486px;
        height: 768px;
    }

    .organization-container {
        margin: 32px 0;
    }

    .role-image-container img {
        width: 124px;
        height: 124px;
    }

    .role-text-container {
        margin-left: 32px;
    }

    /* .primary-overlay-container {
        background-color: yellow;
        max-width: 1184px;
        height: 504px;
        display: flex;
        flex-direction: row-reverse;
        gap: 60px;
        align-content: space-between;
        justify-content: center;
        padding: 0;
        position: relative;
        z-index: 3;
        margin-left: 20px;
        margin-right: 20px;
    }


    .primary-overlay-text {
        max-width: 400px;
        height: 290px;
        background-color: blue;
        margin-top: 107px;
        margin-bottom: 107px;
    } */

    /* .primary-overlay-image {
        height: 100%;
    }

    .primary-overlay-image img {
        height: 100%;
    } */
}