@media screen and (min-width: 768px) {}

@media screen and (min-width: 768px) {

    #offers {
        display: none;
    }

    #business-section {
        display: none;
    }

    #app-ad {
        display: none;
    }

    #ad {
        display: none;
    }

    header {
        width: 100%;
        height: 650px;
    }

    .delivery-main-logo-container {
        transform: translateY(-153px);
    }

    .mobile-buttons {
        display: none;
    }

    .tablet-buttons {
        display: block;
    }

    .tablet-nav-sign-in {
        width: 82px;
        height: 40px;
        font-family: 'TTNorms-Bold';
        font-size: 18px;
        margin-right: 8px;
    }

    .tablet-nav-sign-up {
        width: 90px;
        height: 40px;
        font-family: 'TTNorms-Bold';
        font-size: 18px;
        background-color: white;
        color: var(--secondary-text-color);
        margin-right: -2px;
    }

    .delivery-main-text-container h1 {
        font-size: 22px
    }

    .delivery-main-text-container {
        max-width: 750px;
        margin-top: 84px;
    }

    .delivery-main-text-container h1 {
        font-size: 40px;
        max-width: 750px;
        line-height: 40px;
        font-weight: 900;
    }

    .delivery-inputs-wrapper {
        width: 408px;
        padding-top: 28px;
        padding-right: 8px;
        padding-bottom: 28px;
        margin-top: 24px;
    }


    .search-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -3px;
        margin-left: 4px;
    }

    .input-location-icon {
        display: block;
        margin-top: 3px;
    }

    .input-search-icon {
        display: none;
    }

    .delivery-inputs-wrapper .arrow-icon-wrapper button {
        background-color: var(--primary-button-color);
    }

    .delivery-inputs-wrapper .arrow-icon-wrapper button svg path {
        fill: white;
    }

    .delivery-inputs-wrapper .input-wrapper input::placeholder {
        font-family: "TTNorms-Medium";
        font-size: 15.5px;
        line-height: 22px;
        color: #606060;
        width: 292px;
        font-weight: 500;
    }

    #delivery-signin-text {
        display: flex;
        font-family: 'TTNORMS-MEDIUM';
        letter-spacing: 0.25px;
        margin-left: 1px;
        margin-top: -1px;
    }

    #delivery-login-text {
        display: none;
    }

    .delivery-login {
        transform: scale(1.01);
    }

    .delivery-buttons-container .current-location {
        display: none;
    }

    .delivery-buttons-container .delivery-login {
        width: 88.74px;
        margin-left: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        margin-top: 1px;
    }

    .delivery-buttons-container .delivery-login .delivery-login-svg-wrapper {
        margin-left: 0px;
    }

    #organization {
        width: 486px;
        height: 768px;
    }

    .organization-container {
        margin: 32px 0;
    }

    .role-image-container img {
        width: 124px;
        height: 124px;
    }

    .role-text-container {
        margin-left: 32px;
    }

    #overlay-section {
        width: 100%;
    }

    .primary-overlay-wrapper {
        padding: 20px;
        margin-bottom: -60px;
        min-width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .primary-overlay-container {
        padding: 0;
        max-width: 1184px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 60px;
        height: auto;
    }

    .primary-overlay-text-wrapper {
        max-width: 400px;
        margin: auto 0;
    }

    .primary-overlay-text {
        display: flex;
        flex-direction: column;
    }

    .primary-overlay-text h2 {
        margin-top: 20px;
        max-width: 90%;
        font-size: 40px;
        line-height: 40px;
        /* margin-top: 30px; */
    }

    .primary-overlay-text h4 {
        margin-top: 20px;
        font-size: 20px;
        line-height: 24px;
    }

    .primary-overlay-text p {
        margin-top: 10px;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.16px;
    }


    .primary-overlay-text button {
        width: 146px;
        min-height: 40px;
        max-width: 100%;
        font-size: 16px;
        line-height: 22px;
        margin-top: 30px;
    }

    .primary-overlay-image {
        width: 100%;
    }


    .primary-overlay-image img {
        height: 500px;
        width: 100%;
        object-fit: cover;
    }

    .secondary-overlay-container {
        min-width: 90%;
        margin-top: 0;
        height: auto;
        padding: 80px 0 20px 0;
    }

    .secondary-overlay-item {
        display: flex;
        gap: 60px;
        margin: 0;
        min-width: 90%;
    }

    .secondary-overlay-image {
        /* width: 100%; */
        height: auto;
    }

    .secondary-overlay-image img {
        height: 500px;
        /* width: calc(100% - 32px); */
    }

    .secondary-overlay-text-wrapper {
        max-width: 400px;
        margin: auto 0;
    }

    .secondary-overlay-item-text {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .secondary-overlay-item-text h2 {
        max-width: 90%;
        margin-top: 20px;
        font-size: 40px;
        line-height: 40px;
    }

    .secondary-overlay-item-text p {
        font-size: 16px;
        line-height: 22px;
        margin-top: 20px;
        font-family: "TTNorms-Regular";
        letter-spacing: 0.02px;
        /* letter-spacing: 0.; */
    }

    .secondary-overlay-item-text button {
        margin-top: 30px;
        min-height: 40px;
        width: 127px;
        font-size: 16px;
    }

    #grocery {
        height: 600px;
        z-index: 1;
        /* top: -70px; */
        top: 1px;
    }

    .grocery-text-container {
        margin: 146px 0;
        height: 308px;
    }

    .grocery-text-container h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .grocery-text-container .grocery-text-leading {
        font-size: 20px;
        line-height: 24px;
        margin-top: 20px;
    }

    .grocery-text-container .grocery-text-following {
        font-size: 16px;
        line-height: 22px;
        margin-top: 10px;
    }

    .grocery-text-container .grocery-button-container {
        margin-top: 30px;
    }

    .grocery-button-container button {
        min-height: 40px;
        max-width: 100%;
        font-size: 16px;
        text-align: center;
        width: 138.188px;
    }

    #convenience {
        min-width: 90%;
    }

    .convenience-wrapper {
        max-width: 1184px;
        flex-direction: row-reverse;
        align-content: space-between;
        gap: 60px;
        margin-bottom: -40px;
        padding-top: 60px;
    }

    .convenience-image img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        overflow-clip-margin: content-box;
    }

    .convenience-text {
        max-width: 400px;
        margin: 104px 0;
    }

    .convenience-text h2 {
        font-size: 40px;
        line-height: 40px;
        max-width: 90%;
    }

    .convenience-text span {
        font-size: 16px;
        line-height: 22px;
        margin-top: 20px;
        font-family: "TTNorms-Regular";
    }

    .convenience-button-container {
        margin-top: 30px;
    }

    .convenience-button-container button {
        min-height: 40px;
        width: 100.323px;
        font-size: 16px;
        max-width: 100%;
    }


    #scroll-section .scroll-heading {
        width: 100%;
        padding: 60px 20px 40px;
    }

    .scroll-heading span {
        text-align: center;
        max-width: 500px;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        font-family: 'TTNorms-Bold';
    }

    .carousel {
        width: 100%;
        /* max-width: 1184px; */
        display: flex;
        flex-flow: wrap;
        padding: 0px;
    }

    .carousel-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 50%;
        min-width: 50%;
        margin-left: 0;
        margin-right: 0;
        padding: 20px;
    }

    .carousel-image {
        width: 100%;
    }

    .carousel-image img {
        width: 100%;
        height: 99%;
        object-fit: cover;
        object-position: 50% 50%;
        /* transform: scaleY(1); */
        aspect-ratio: 1/1;
    }

    .pets {
        margin-right: 0;
    }

    .carousel-text h2 {
        max-width: 90%;
        margin-top: 17px;
        text-align: center;
        font-size: 40px;
        line-height: 40px;
    }

    .carousel-text span {
        text-align: center;
        margin-top: 20px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        font-family: 'TTNorms-Regular';
    }

    .carousel-text .carousel-item-button-container {
        margin-top: 30px;
    }

    .carousel-text .carousel-item-button-container button {
        min-height: 40px;
        max-width: 100%;
        font-size: 16px;
        display: inline-block;
        text-align: center;
    }

    #beauty-button {
        width: 117.656px;
    }

    #flowers-button {
        width: 124.125px;
    }

    #alcohol-button {
        width: 123px;
    }

    #pets-button {
        width: 149.208px;
    }

    .carousel-text .alcohol-disclaimer {
        font-size: 14px;
    }

    .opportunity-heading {
        padding: 60px 20px 40px;
    }

    .opportunity-heading h2 {
        font-size: 32px;
        line-height: 40px;
        max-width: 500px;
    }

    .opportunity-wrapper {
        padding: 20px 0;
        background-color: white;
    }

    .opportunity-primary-wrapper {
        background-color: var(--overlay-color);
        max-width: 1184px;
    }

    .opportunity-primary-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        gap: 60px;
        padding: 0 20px;
    }

    .opportunity-primary-text h2 {
        max-width: 90%;
        font-size: 40px;
        line-height: 40px;
    }

    .opportunity-primary-text p {
        font-size: 16px;
        line-height: 22px;
        margin-top: 20px;
    }

    .opportunity-primary-image {
        height: 500px;
    }

    .opportunity-primary-button {
        margin-top: 30px;
    }

    .opportunity-primary-button button {
        min-height: 40px;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .opportunity-secondary-wrapper {
        width: 100%;
        background-color: var(--overlay-color);
        padding: 0 20px 20px 20px;
        max-width: 1184px;
    }

    .opportunity-secondary-container {
        margin: -40px 0;
        padding: 90px 0 30px 0;
        display: flex;
        gap: 60px;
        align-content: space-between;
        justify-content: center;
        align-items: center;
    }

    .opportunity-secondary-image {
        width: 100%;
        height: 500px;
        margin-top: -10px;
    }

    .opportunity-secondary-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .opportunity-secondary-text {
        display: flex;
        flex-direction: column;
    }

    .opportunity-secondary-text h2 {
        max-width: 90%;
        margin-top: 20px;
        font-size: 40px;
        line-height: 40px;
    }

    .opportunity-secondary-text p {
        font-size: 16px;
        line-height: 22px;
        margin-top: 20px;
    }

    .opportunity-secondary-button {
        margin-top: 30px;
    }

    .opportunity-secondary-button button {
        min-height: 40px;
        max-width: 100%;
        font-size: 16px;
    }

    .about-container {
        flex-direction: row;
        gap: 12px;
        justify-content: space-between;
        flex: 1 1 0%;
        width: 100%;
    }

    .about-items {
        padding-top: 32px;
        text-align: left;
    }

    .connect {
        flex-direction: row;
    }

    .copyright {
        margin-top: 0;
    }

    .social-links {
        align-self: center;
    }
}